<div class="container">
   <div class="confirm-style">
      <div class="well">
         <h3>Confirmation Message</h3>
         <p>Thank you for contacting us! We will get back to you shortly.</p>
      <div >
      <a class="btn-grey btn-small btn-pad" href="/home/contact">Back</a>
   </div>
</div>
                    