<div class="container">
  <div class="well">
    <h1>ORGANIZACIÓN DE LATINFOODS</h1>
    <div class="row">
    	<div class="col-sm-4">
        <%= link_to image_tag("orga.png", size: "300x200") %> 
      </div>
      <div class="col-sm-4">
     		Esta estructura fue acordada durante la reunión FAO/SLAN/LATINFOODS realizada en la ciudad de Santiago, Chile, en noviembre de 2009. Los integrantes del Comité Ejecutivo durarán 3 años en sus cargos. En dicha Reunión, se eligió el siguiente Comité Ejecutivo para el período 2010-2012.
      </div>
    </div>
   
   	 	 
    <h2>COMITÉ EJECUTIVO 2013 - 2015</h2>	 
    <dl class="dl-horizontal">
      <dt>Presidenta:</dt>
        <dd>Dra. Leticia G. de Nuñez</dd>
    	<dt>Vicepresidenta:</dt>
        <dd>Dra. Norma Samman</dd>
    </dl> 
   	<h2>REPRESENTANTES GEOGRÁFICOS</h2>
    <dl class="dl-horizontal">
      <dt>Mesoamérica y el Caribe:</dt>
        <dd>Dra. Julieta Salazar de Ariza</dd>
      <dt>América del Sur:</dt>
        <dd>Dra. Luz Esperanza Guillen</dd>
    </dl>	 
   	<h2>COMITÉ ASESOR</h2> 	 	 
   	<dl class="dl-horizontal">
      <dt>Dr. Jose Felix Chávez</dt> 	 
   	 	<dd>Dr. Ricardo Bressani</dd>
    </dl> 
   	<h2>CENTROS SUBREGIONALES LATINFOODS</h2>	 
   	<table class="table table-bordered">
      <tbody>
        <tr>
          <td><div class="text-center">CENTRO SUBREGIONAL</div></td>
          <td><div class="text-center">SUBREGIÓN</div></td> 	 		 
   	 	 	 	<td><div class="text-center">COORDINADOR</div></td>
          <td><div class="text-center">PAÍSES</div></td>
        </tr>
        <tr>
          <td><div>MESOCARIBEFOODS</div></td>
          <td><div>América Central,México y el Caribe de habla castellana y francesa</div></td>        
          <td><div>Dra. Ana Victoria Román</div></td>
          <td><div>Costa Rica, El Salvador, Guatemala, Honduras, Nicaragua, Panamá, Cuba, México, República Dominicana</div></td>
        </tr>
   	 	 	<tr>
          <td><div>SAMFOODS</div></td>
          <td><div>América del Sur</div></td>        
          <td><div>Dr. Saturnino de Pablo</div></td>
          <td><div>Argentina, Bolivia, Brasil *, Chile, Colombia, Ecuador, Paraguay, Perú, Uruguay, Venezuela
          * Subcentro Nacional</div></td>
        </tr>
      </tbody>
    </table>	 
   	<h2>COMITÉS TÉCNICOS REGIONALES</h2>	 	 	 
  	<h2>COMITÉ TÉCNICO REGIONAL DE COMPILACIÓN</h2> 	 
   	<dl class="dl-horizontal">
      <dt>Coordinadora:</dt>   
      <dd>Elizabete Wenzel de Menezes</dd>
    </dl> 	 
   	<h2>COMITÉ TÉCNICO REGIONAL DE GENERACIÓN DE DATOS Y METODOLOGÍAS ANALÍTICAS</h2>
    <dl class="dl-horizontal">
      <dt>Coordinadoras:</dt>   
      <dd>Ángela Zuleta, Jose Luís Rodríguez</dd>
    </dl>	 	 
   	<h2>COMITÉ TÉCNICO REGIONAL DE USUARIOS</h2> 	  	 
   	<dl class="dl-horizontal">
      <dt>Coordinadora:</dt>   
      <dd>Adriana Blanco</dd>
    </dl>	 		 	 
   	<h5>COMITÉ AD-HOC DE APOYO A LA PRESIDENCIA PARA MOVILIZACIÓN DE RECURSOS Y MERCADEO</h5> 	 
   	<dl class="dl-horizontal">
      <dt>Coordinadores:</dt>   
      <dd>Ana Victoria Román, José Ángel Ledesma</dd>
    </dl>	 		 
   	<table class="table table-bordered">
      <tbody>
        <tr>
          <td><div><b>PAÍS</b></div></td>
          <td><div><b>PRESIDENTE</b></div></td>
        </tr>
        <tr>
          <td><div>Argentina</div></td>
          <td><div>Dra. Norma Sammán</div></td>
        </tr> 	 	 		 
   	 	  <tr>
          <td><div>Bolivia</div></td>
          <td><div>Dra. Luz Esperanza Guillen</div></td>
        </tr>
   	 	  <tr>
          <td><div>Brasil</div></td>
          <td><div>Dr. Franco Lajolo ; Dra. Elizabete Wenzel de Menezes</div></td>
        </tr>
   	 	  <tr>
          <td><div>Chile</div></td>
          <td><div>Dra. Lilia Masson</div></td>
        </tr>
   	    <tr>
          <td><div>Colombia</div></td>
          <td><div>Sr. Diego Andrés Molano</div></td>
        </tr>
  	    <tr>
          <td><div>Costa Rica</div></td>
          <td><div>Dra. Adriana Blanco</div></td>
        </tr>
  	 	  <tr>
          <td><div>Cuba</div></td>
          <td><div>Dr. Alvaro García</div></td>
        </tr>
  	 	  <tr>
          <td><div>Ecuador</div></td>
          <td><div>Dra. Jenny Ruales</div></td>
        </tr>
   	 	  <tr>
          <td><div>El Salvador</div></td>
          <td><div>MSc. Claudia Alfaro</div></td>
        </tr>
  	    <tr>
          <td><div>Guatemala</div></td>
          <td><div>Dra. Julieta Salazar de Ariza</div></td>
        </tr>
  	 	  <tr>
          <td><div>Honduras</div></td>
          <td><div>MSc. Ana Luisa Ordóñez</div></td>
        </tr>
  	 	  <tr>
          <td><div>México</div></td>
          <td><div>Nutr. Ángel Ledesma</div></td>
        </tr>
  	 	  <tr>
          <td><div>Nicaragua</div></td>
          <td><div>MSc. Indiana Dávila</div></td>
        </tr>
  	 	  <tr>
          <td><div>Panamá</div></td>
          <td><div>Dra. Leticia G. de Núñez</div></td>
        </tr>
  	 	  <tr>
          <td><div>Paraguay</div></td>
          <td><div>Ing. Elsi Ovelar</div></td>
        </tr>
  	 	  <tr>
          <td><div>Perú</div></td>
          <td><div>Lic. Luis Gómez-Sánchez</div></td>
        </tr>
  	 	  <tr>
          <td><div>República Dominicana</div></td>
          <td><div>Dra. Mayra Bautista</div></td>
        </tr>
  	 	  <tr>
          <td><div>Uruguay</div></td>
          <td><div>Dra. Estela Tor</div></td>
        </tr>
  	 	  <tr>
          <td><div>Venezuela</div></td>
          <td><div>Dra. Irma</div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>