
<div class="container">
  <div class="well">
    <h3 class="text-center">CIRCULARES, INFORMES Y PUBLICACIONES</h3>	 
   	<h4>CIRCULARES DE LATINFOODS 2013 - 2015</h4>
    <div class="pull-right">
      <%= link_to  image_tag("pic3_publications.jpg", size: "500x250")%>
    </div>
    <h5>Circular Número 2, septiembre de 2013</h5>
      <ul>
        <li>Circular Número 2, septiembre de 2013</li>
        <li>Minuta de reunión de participantes de Latinfoods</li>
        <li>Granada agenda 15 de septiembre</li>
        <li>Encuesta sodio sal en sopas</li>
      </ul>
    <h5>Circular Número 1, marzo de 2013</h5>
      <ul>
        <li>Circular Número 1, marzo de 2013</li>
        <li>WASH 2013 Poster</li>
        <li>Flyer FC 2013</li>
      </ul>
    <h4>CIRCULARES DE LATINFOODS 2010 - 2012</h4>
    <h5>Circular Número 10, diciembre de 2012</h5>
    <p>Aquí podrá acceder a los acuerdos y conclusiones de la Asamblea Trianual de Latinfoods realizada el 13 de noviembre durante el Congreso de la Sociedad Latinoamericana de Nutrición (SLAN) en La Habana, Cuba.</p>
      <ul>
        <li>Circular Número 10, diciembre de 2012</li>
        <li>Informe de la Presidencia, período 2010-2012</li>
        <li>Plan de acción para el período 2013-2015</li>
        <li>Foto Reunión Latinfoods Cuba</li>
        <li>Foto Reunión Latinfoods Cuba</li>
        <li>Foto Grupo Reunión Latinfoods Cuba</li>
    </ul>
  </div>
</div>

 

 
 





 


 







