
<div class="container">
  <div class="row">
    <%= render partial: '/sidebar' %>
    <div class="col-md-9">
    	<div class="well">
     <% @url = {controller: 'roles', action: 'create', method: :post} %>
      <legend>Add Role </legend>
      <%= render 'form' %>
    </div>
    </div>
  </div>
</div>
