	<div class="container">
		<div class="row">
			<%= render partial: '/sidebar' %>

			<div class="col-md-9">

				<div class="row">
					<div class="row">
         
            <h2 id="nav-tabs"></h2>
            <div class="bs-example">
              <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                <li class="active"><a href="#home" data-toggle="tab">Planilla 1</a></li>
                <li><a href="#profile" data-toggle="tab">Planilla 2</a></li>
                <li><a href="#profile" data-toggle="tab">Planilla 3</a></li>
                <li><a href="#profile" data-toggle="tab">Planilla 4</a></li>
                <li><a href="#profile" data-toggle="tab">Planilla 5</a></li>
                <li><a href="#profile" data-toggle="tab">Planilla 6</a></li>
                <li><a href="#profile" data-toggle="tab">Planilla 7</a></li>


               </ul>

              </div>

        

         </div>
				<div class="col-lg-6"><b>PLANILLA-1  INICIAL</b></div><div class=" pull-right"> <button type="button"class="btn btn-primary">Subir planilla 1 con Excel</button></div>
			</div>
				<hr style="color:red"> 
				<div class="col-lg-4">
				<b>Fecha :</b>
			</div>

				<input type="text" > <br><br>
				<div class="col-lg-4">
				Remitir para la coordinacion del</div> <input type="text"> FOODS <br><br>
				<div class="col-lg-4"><b> Direccion: </b></div>
				<input type="text"> <br><br>
				<div class="col-lg-4">
				<b>e-mail: </b> </div><input type="text"> <br><br>
				<h3> 1 Identificacion de los Alimentos- Trabojas Cientificos/ Otros</h2>
				<div class="col-lg-4"><b> Codigo Provisional: </b></div> <input type= "text"> <br> <br>
				<div class="col-lg-4"><b> Descripcion detallada de los productos/alimentos </div><input type="text"> <br> <br>
					<hr style="color:red">
					<h3> 2 Identificacion de los Alimentos -Datos de las Industrias de Alimentos </h2>
					<b> Descricion detallada de los producto <input type="text"></input>
			</div>
		</div>
	<div class="row col-lg-offset-8">
		<%= image_tag('images.jpeg', size: '50x50')%> <%= image_tag('index.jpeg', size: '50x50') %> <button type="button" class="btn btn-primary">Seguir a Planilla 2</button>
	</div>
	</div>
